# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Vector DB
backend/data/vectorstore/

# Raw Crawled Docs
backend/data/raw_docs/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# FAISS
*.faiss
*.pkl